body {
    background-image: url('../static/banner2.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 36px;
    color: #110a0a;
}
p{
    color: #110a0a;
    text-align: center;
    max-width: 600px; /* Defina a largura máxima desejada */
    margin: 10px;
}

input[type="email"] {
    padding: 10px;
    margin: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
