<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/cadastro">Cadastre-se</a></li>
        </ul>
    </nav>

    <h1>Acesso antecipado</h1>
    <p>
        Temos uma grande notícia para você! Estamos emocionados em convidá-lo para um acesso antecipado exclusivo ao nosso próximo jogo incrível. Este é um convite especial para você ser um dos primeiros a experimentar a aventura que preparamos.
    </p>

    <form id="emailForm" action="/verificar_email" method="POST">
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
        <button type="submit">Inscrever-se</button>
    </form>
    <!--  
        Seria tag normal do html <p id="mensagem"></p>
     -->
    <!-- usando template engine jinja para atribuir um valor dinamico  -->
    <p id="mensagem">{{ mensagem }}</p>
</body>
</html>
