<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <h1>Acesso antecipado</h1>
    <p>
        Temos uma grande notícia para você! Estamos emocionados em convidá-lo para um acesso antecipado exclusivo ao nosso próximo jogo incrível. Este é um convite especial para você ser um dos primeiros a experimentar a aventura que preparamos.
    </p>

    <input type="email" placeholder="Digite seu e-mail">
    <button type="submit">Inscrever-se</button>
</body>
</html>
