<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="login-container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    
        <h2>Login</h2>
        <form method="post" action="/login">
            <input type="text" name="username" placeholder="Nome de usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        <div>{{mensagem}}</div>

    </div>
</body>
</html>